.header {
    width: 100vw;
    height: 90vh;
    background-color: yellow;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.imgt1 {
    background-color: red;
   
}
