.section1{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(7, 2, 26);
    border-bottom: 10px solid rgb(0, 1, 61);
}
.ds1 {
    margin-top: 15px;
    background-color: white;
    width: 80vw ;
    height: 75vh;
    overflow-x:scroll;
}

