.HomeScreenImg {
    position:relative;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: contain;
    overflow:hidden;
}
.homeImg {
    position: absolute;
    width: 100vw;
    aspect-ratio: 4/2;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.grayEnd {
    background-color: rgb(233, 233, 233);
   width: 100vw;
   height: 30vw;
}
.HomeItem {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 20px;
    top: 22%;
    gap: 20px;
}
.ItemCard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis:300px ;
    background-color: white;
    width: 300px;
    box-sizing: border-box;
    padding: 20px 0 15px;
}
.ItemCardTitle {
    font-size: 21px;
    font-weight: 700;
    margin: 0 20px;
}
.ForImg {
    width: 135px;
    height: 135px;  
    object-fit: contain;
}
.ItemCardImg {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 20px;
}
.ImgCard_1 {
    width: 100%;
}
.AboutImg {
    font-size: 12px;
    font-weight: 500;
}
.SeeMore {
    color: rgb(45, 45, 107);
    font-size: 13px;
    font-weight: 600;
    margin: 0 20px;
}